html, body, #map 
  width 100%
  height 100%
  padding 0
  margin 0
  font-family Verdana, Arial, Helvetica, sans-serif

#map 
  min-width 320px
  min-height: 480px

p 
  text-align center
  font-size 16pt

label
  width 100px
  font-size 12pt

input
  width 450px 
  border-radius 7px 
  font-size 11pt

input[disabled]
  cursor default
  background-color yellow

textarea 
  width 448px 
  border-radius 10px
  background-color white

.form-group div  
  display flex
  width 100%
  padding 5px 0

.flex 
  display flex
  justify-content space-between
  margin 25px 10px

#divModal 
  position absolute
  top 0 
  width 100%
  height 100%
  z-index 100
  background-color yellow
  opacity 0.5 

#spanModal 
  line-height 30px
  cursor pointer
  color yellow
  position absolute
  top 10px
  right 100px
  width 30px
  height 30px
  border-radius 50%
  z-index 110
  background-color blue
  text-align center

#formModal 
  position absolute
  top 100px
  left 35%
  top 25%
  width 600px
  height 400px
  padding 20px
  z-index 300
  border-radius 2%
  background-color LightBlue
  
#exit 
  background #3498db
  border-radius 10px
  color #ffffff
  font-size 12pt
  padding 5px 10px
  text-decoration none
  cursor pointer

#exit:hover 
  background #3cb0fd
  text-decoration none
  cursor pointer

#save 
  background #d9345d
  border-radius 10px
  color #ffffff
  font-size 12pt
  padding 5px 10px 
  text-decoration none
  cursor pointer

#save:hover
  background #fc3c73
  text-decoration none
  cursor pointer

#save[disabled]
  cursor default
  background-color grey

#map1 
  width 100%
  height 100%  
  min-width 320px
  min-height 480px

.page

  background url(gulp.png)

  &__header
    font-size 60px

  &__header-cat
    @extends $page--cat